<section class="section">
  <div class="card">
    <div class="overflow">
      <div class="container">
        <nav aria-label="Breadcrumb" class="breadcrumb">
          <ol>
            <li>
              <span class="sr-only"> Home </span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="breadcrumb-icon"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"
                />
              </svg>
            </li>

            <li>
              <svg
                class="breadcrumb-icon"
                viewBox="0 0 20 20"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                  clip-rule="evenodd"
                />
              </svg>
            </li>

            <li>
              <a [routerLink]="['/']" class="breadcrumb-link">
                Lista de Productos
              </a>
            </li>

            <li>
              <svg
                class="breadcrumb-icon"
                viewBox="0 0 20 20"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                  clip-rule="evenodd"
                />
              </svg>
            </li>

            <li>Nuevo Producto</li>
          </ol>
        </nav>

        <h2 class="title">Formulario de Registro</h2>
        <hr class="hr" />

        <form class="form" [formGroup]="productForm">
          <div class="form-row">
            <div class="form-group">
              <label class="form-label" for="id">ID</label>
              <input
                class="form-input"
                type="text"
                formControlName="id"
                (blur)="onVerificationId()"
              />
              <p
                class="helper-text"
                *ngIf="
                  productForm.get('id')?.touched &&
                  productForm.get('id')?.invalid
                "
              >
                <span *ngIf="productForm.get('id')?.errors?.['required']"
                  >El Id es Requerido</span
                >
                <span *ngIf="productForm.get('id')?.errors?.['minlength']"
                  >El Id debe tener al menos 3 caracteres</span
                >
                <span *ngIf="productForm.get('id')?.errors?.['maxlength']"
                  >El Id debe tener máximo 10 caracteres</span
                >
                <span *ngIf="productForm.get('id')?.errors?.['idExists']"
                  >El Id ya Existe</span
                >
              </p>
            </div>
            <div class="form-group">
              <label class="form-label" for="nombre">Nombre</label>
              <input class="form-input" type="text" formControlName="name" />
              <p
                class="helper-text"
                *ngIf="
                  productForm.get('name')?.touched &&
                  productForm.get('name')?.invalid
                "
              >
                <span *ngIf="productForm.get('name')?.errors?.['required']"
                  >El Nombre es Requerido</span
                >
                <span *ngIf="productForm.get('name')?.errors?.['minlength']"
                  >El Nombre debe tener al menos 5 caracteres</span
                >
                <span *ngIf="productForm.get('name')?.errors?.['maxlength']"
                  >El Nombre debe tener máximo 100 caracteres</span
                >
              </p>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group">
              <label class="form-label" for="descripcion">Descripción</label>
              <input
                class="form-input"
                type="text"
                formControlName="description"
              />
              <p
                class="helper-text"
                *ngIf="
                  productForm.get('description')?.touched &&
                  productForm.get('description')?.invalid
                "
              >
                <span
                  *ngIf="productForm.get('description')?.errors?.['required']"
                  >La Descripción es Requerida</span
                >
                <span
                  *ngIf="productForm.get('description')?.errors?.['minlength']"
                  >La Descripción debe tener al menos 10 caracteres</span
                >
                <span
                  *ngIf="productForm.get('description')?.errors?.['maxlength']"
                  >La Descripción debe tener máximo 200 caracteres</span
                >
              </p>
            </div>
            <div class="form-group">
              <label class="form-label" for="logo">Logo</label>
              <input class="form-input" type="text" formControlName="logo" />
              <p
                class="helper-text"
                *ngIf="
                  productForm.get('logo')?.touched &&
                  productForm.get('logo')?.invalid
                "
              >
                <span *ngIf="productForm.get('logo')?.errors?.['required']"
                  >El Logo es Requerido</span
                >
              </p>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group">
              <label class="form-label" for="date_release"
                >Fecha de Liberación</label
              >
              <input
                class="form-input"
                type="date"
                formControlName="date_release"
              />
              <p
                class="helper-text"
                *ngIf="
                  productForm.get('date_release')?.touched &&
                  productForm.get('date_release')?.invalid
                "
              >
                <span
                  *ngIf="productForm.get('date_release')?.errors?.['required']"
                  >La Fecha de Liberación es Requerida</span
                >
              </p>
            </div>
            <div class="form-group">
              <label class="form-label" for="date_revision"
                >Fecha de Revisión</label
              >
              <input
                class="form-input"
                type="date"
                formControlName="date_revision"
              />
              <p
                class="helper-text"
                *ngIf="
                  productForm.get('date_revision')?.touched &&
                  productForm.get('date_revision')?.invalid
                "
              >
                <span
                  *ngIf="productForm.get('date_revision')?.errors?.['required']"
                  >La Fecha de Revisión es Requerida</span
                >
              </p>
            </div>
          </div>
          <div class="form-buttons">
            <button type="reset" class="form-button">Reiniciar</button>
            <button
              type="button"
              class="form-button form-button-amber"
              (click)="agregarProducto()"
            >
              Enviar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<aside class="aside" [class]="colorAlert" *ngIf="showAlert">
  <p class="aside-p">{{ messageAlert }}</p>

  <button class="aside-button" [class]="colorAlert" (click)="showAlert = false">
    <span class="sr-only">Close</span>
    <svg
      class="aside-button-svg"
      viewBox="0 0 20 20"
      fill="currentColor"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fillRule="evenodd"
        d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
        clipRule="evenodd"
      ></path>
    </svg>
  </button>
</aside>
